/*------------------------- Common Styles ----------------------------*/
*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300&display=swap');

html {
  font-size: 62.5%;
}

:root {
  --color-background: #ECEEF1;
  --color-border: #c7c7c7;
  --color-primary: #0077C5;
}

body {
  background-color: var(--color-background);
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
}

/*------------------------- Header Section ----------------------------*/
.header-section {
  display: flex;
  height: 6rem;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem 3rem;
}

.header-text {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  margin-right: 1rem;
  text-align: right;
}

.header-text p {
  color: grey;
}

.header-text a {
  text-decoration: none;
  color: var(--color-primary);
}

.header-button {
  background-color: var(--color-primary);
  border: none;
  color: white;
  padding: 1rem 2rem;
  border-radius: 0.3rem;
  font-size: 1.5rem;
}

.header-button i {
  margin-right: 1rem;
}

/*------------------------- Main Section ----------------------------*/
.main-section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-box {
  width: 13rem;
  height: auto;
}



.logo-box a {
  text-decoration: none;
}

.logo-box img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.companies {
  list-style: none;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  backface-visibility: hidden;
}

.companies li {
  display: flex;
  justify-content: center;
}

.companies li a {
  text-decoration: none;
}

.mint-company, .quickbooks-company, .turbotax-company {
  margin-right: 1.5rem;
  margin-top: 0.5rem;
}

.mint-logo, .quickbooks-logo, .turbotax-logo {
  width: 2.5rem;
  height: 2.5rem;
  margin-right: 0.2rem;
}

.mint-logo img, .quickbooks-logo img, .turbotax-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/*------------------------- Form Section ----------------------------*/
.form-box {
  margin-top: 1rem;
  border: 0.1rem solid var(--color-border);
  width: 38rem;
}

.form {
  background-color: white;
  padding: 3rem;
}

.form h3 {
  font-size: 2.4rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 2rem;
}

.form-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.4rem;
}

.form-text p {
  color: gray;
}

.form-text a {
  text-decoration: none;
  color: var(--color-primary);
}

label {
  color: gray;
}

.email-address, .phone-number, .your-password {
  margin-top: 1rem;
  margin-bottom: 3rem;
  width: 100%;
  padding: 1rem;
  border: 0.1rem solid var(--color-border);
  border-radius: 0.3rem;
}

input {
  border: none;
  width: 100%;
}

input:focus {
  outline: none;
}

.your-password {
  display: flex;
}

.your-password i {
  color: gray;
}

#rates-span {
  margin-top: -2rem;
  font-size: 1.2rem;
  margin-bottom: 3.5rem;
  color: gray;
}

.submit-button {
  font-size: 1.6rem;
  padding: 1.5rem 2rem;
  width: 100%;
  margin-bottom: 2rem;
  color: white;
  border: none;
  background-color: var(--color-primary);
  border-radius: 0.3rem;
  margin-top: 2rem;
}

.submit-button i {
  margin-right: 1rem;
}

.legal-acceptance {
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.legal-acceptance p {
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 300;
  color: gray;
  padding: 2rem;
  line-height: 2rem;
  box-sizing: border-box;
}
.legal-acceptance a {
  text-decoration: none;
  color: var(--color-primary);
}

.form-footer {
  margin-top: 2rem;
  text-align: center;
  font-size: 1rem;
  background-color: var(--color-background);
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  padding: 0.5rem;
}

.form-footer p {
  color: gray;
}

.form-footer a {
  text-decoration: none;
  color: var(--color-primary);
}

/*------------------------- Footer Section ----------------------------*/
footer {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 2rem;
}

.top-footer a {
  text-decoration: none;
  margin-right: 1rem;
  color: gray; 
  font-size: 1.3rem;
}

.bottom-footer {
  margin-top: 1rem;
}

.bottom-footer p {
  color: gray;
  line-height: 2rem;
  font-size: 1.3rem;
  text-align: center;
}

/*------------------------- Animations ----------------------------*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    transform: translateX(20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1)
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

/*
** --------- animation-name: --------------*
** --------- animation-duration: -----------*
** --------- animation-timing-function: ------------*
** --------- animation-delay: ----------*
** --------- animation-iteration-count: ---------*
*/

.animation-pulsate {
  animation-fill-mode: backwards;
  animation-name: pulsate;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

.animation-left {
  display: flex;
  animation-fill-mode: backwards;
  animation-name: moveInLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 1s;
}

.animation-up {
  display: flex;
  animation-fill-mode: backwards;
  animation-name: moveInUp;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 2s;
}

.animation-right {
  display: flex;
  animation-fill-mode: backwards;
  animation-name: moveInRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-delay: 3s;
}